@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --text-primary: #000000;
  --text-secondary: #666666;
  --background-primary: #f5f5f5;
  --background-secondary: #fff;
  --border: #e0e0e0;

  --accent-background: #333333;
  --accent-text: #ffffff;

  --btn-background: #fff;
  --btn-text: #000000;
  --btn-border: #bdbdbd;
}

.dark {
  --primary: #000000;
  --text-primary: #ffffff;
  --text-secondary: #bdbdbd;
  --background-primary: #121212;
  --background-secondary: #1e1e1e;
  --border: #424242;

  --accent-background: #666666;
  --accent-text: #ffffff;

  --btn-background: #333333;
  --btn-text: #ffffff;
  --btn-border: #666666;
}
body {
  color: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
